{% extends "base.html" %}

{% block title %}Choose payment method{% endblock %}

{% block content %}

    <div id="subscribe-form">

	    <h3>Please select your preferred payment method:</h3>

        <form method="post" action="acquire" class="top bottom">

            {% csrf_token %}

            <label>Payment method:</label>
            <select>
              <option value="cc">Credit card</option>
              <option value="phone">Telephone bill</option>
            </select>
            <br />

            <label>Value:</label>
            <input type="text">

            <label>User:</label>
            <input type="text" value={{ tef_account }}>

            <label>City:</label>
            <input type="text" value={{ city }}>

            <label>Address:</label>
            <input type="text" value={{ address }}>

            <label>Postal code:</label>
            <input type="text" value={{ postal_code }}>

            <label>Country:</label>
            <input type="text" value={{ country }}>

            <label>Phone:</label>
            <input type="text" value={{ phone }}>

            <label>Email:</label>
            <input type="text" value={{ email }}>

            <div class="center">
                <button>Continue</button>
            </div>

        </form>
    </div>
{% endblock %}